@model IEnumerable<App_Shared.ViewModels.ViewSize>

@{
    ViewData["Title"] = "Index";
    var XoaThatBai = ViewData["XoaThatBai"] as string;
    var XoaThanhCong = ViewData["XoaThanhCong"] as string;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (XoaThatBai != null)
{
    <p>@XoaThatBai</p>
}
@if (XoaThanhCong != null)
{
    <p>@XoaThanhCong</p>
}
@if (Model != null)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-controller="Size" asp-action="Details" asp-route-id="@item.Id">Chi tiet</a>|
                    <a asp-controller="Size" asp-action="Edit" asp-route-id="@item.Id">Sua</a>|
                    <a asp-controller="Size" asp-action="Delete" asp-route-id="@item.Id">Xóa</a>|
                </td>
            </tr>
        }
    </tbody>
</table>
}