@using App_Shared.Model;
@model App_Shared.Model.Product

@{
	ViewData["Title"] = "Details";
	//var color = (ViewData["colors"] as List<Colors>);
	var size = (ViewData["sizes"] as List<Sizes>);
	List<string>
		imageExtensions = new List<string>
			()
														   {
		".png", ".jpg", ".jpeg", ".gif", ".tiff", ".pdf"
														   };
}
<div class="site-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				@{
					string extension = System.IO.Path.GetExtension(Model.ImageUrl);
				}
				<img src="~/images/@Model.ImageUrl" alt="Image" class="img-fluid">
			</div>
			<div class="col-md-6">

				<h2 class="text-black">@Model.Name</h2>
				<p>@Model.Description</p>
				<p><strong class="text-primary h4">$@Model.Price</strong></p>
			
				<form asp-controller="Cart" asp-action="AddtoCart" method="post">
					<input type="hidden" name="Namespp" value="@Model.Name" />
					<input type="hidden" name="idsp" value="@Model.Id" />
					
					<p>Size</p>
					<div class="mb-1 d-flex">
						@foreach (var item in size)
						{
							<label for="option-sm" class="d-flex mr-3 mb-3">
								<span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="size" name="idsize" value="@item.Id"></span> <span class="d-inline-block text-black">@item.Name</span>
							</label>
						}

					</div>

					<div class="mb-5">
						<div class="input-group mb-3" style="max-width: 120px;">
							<div class="input-group-prepend">
								<button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
							</div>
							<input type="text" class="form-control text-center" name="slsp" value="1" placeholder="" min="1" max="100" aria-label="Example text with button addon" aria-describedby="button-addon1">
							<div class="input-group-append">
								<button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
							</div>
						</div>

					</div>
					@if (User.IsInRole("User"))
					{
						<input class="btn btn-success" type="submit" value="Addtocart"></input>
					}
					else if(User.IsInRole("Admin"))
					{

					}
					else
					{
						<a class="btn btn-success" asp-controller="Login" asp-action="Login">Addtocart</a>
					}
				</form>


			</div>
		</div>
	</div>
</div>
<div class="site-section block-3 site-blocks-2 bg-light">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7 site-section-heading text-center pt-4">
				<h2>Featured Products</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="nonloop-block-3 owl-carousel">
					<div class="item">
						<div class="block-4 text-center">
							<figure class="block-4-image">
								<img src="~/images/cloth_1.jpg" alt="Image placeholder" class="img-fluid">
							</figure>
							<div class="block-4-text p-4">
								<h3><a href="#">Tank Top</a></h3>
								<p class="mb-0">Finding perfect t-shirt</p>
								<p class="text-primary font-weight-bold">$50</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="block-4 text-center">
							<figure class="block-4-image">
								<img src="~/images/shoe_1.jpg" alt="Image placeholder" class="img-fluid">
							</figure>
							<div class="block-4-text p-4">
								<h3><a href="#">Corater</a></h3>
								<p class="mb-0">Finding perfect products</p>
								<p class="text-primary font-weight-bold">$50</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="block-4 text-center">
							<figure class="block-4-image">
								<img src="~/images/cloth_2.jpg" alt="Image placeholder" class="img-fluid">
							</figure>
							<div class="block-4-text p-4">
								<h3><a href="#">Polo Shirt</a></h3>
								<p class="mb-0">Finding perfect products</p>
								<p class="text-primary font-weight-bold">$50</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="block-4 text-center">
							<figure class="block-4-image">
								<img src="~/images/cloth_3.jpg" alt="Image placeholder" class="img-fluid">
							</figure>
							<div class="block-4-text p-4">
								<h3><a href="#">T-Shirt Mockup</a></h3>
								<p class="mb-0">Finding perfect products</p>
								<p class="text-primary font-weight-bold">$50</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="block-4 text-center">
							<figure class="block-4-image">
								<img src="~/images/shoe_1.jpg" alt="Image placeholder" class="img-fluid">
							</figure>
							<div class="block-4-text p-4">
								<h3><a href="#">Corater</a></h3>
								<p class="mb-0">Finding perfect products</p>
								<p class="text-primary font-weight-bold">$50</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>