@using App_Shared.Model;
@using App_Shared.ViewModels;
@model IEnumerable<App_Shared.ViewModels.ProductView>

@{
	ViewData["Title"] = "Index";
	var roleid = ViewBag.RoleId;
	List<string>
			imageExtensions = new List<string>
				()
											   {
		".png", ".jpg", ".jpeg", ".gif", ".tiff", ".pdf"
											   };
	var favoriteProducts = ViewData["yeuthich"] as List<ViewFavoriteProduct>;
}

<div class="container">
	<div class="row mb-5 mt-5">
		<div class="col-md-12 order-2">
			<div class="row mb-5">

				@foreach (var item in Model)
				{

					<div class="col-sm-4 col-lg-3 mb-3" data-aos="fade-up">
						<div class="block-4 text-center border">
							<figure class="block-4-image">
								@{
									string extension = System.IO.Path.GetExtension(item.ImageUrl);
								}
								<a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id"><img src="~/images/@item.ImageUrl" style="width:253px" height="200px" alt="Image placeholder"></a>
							</figure>
							<div class="block-4-text p-4">
								@if (User.IsInRole("User"))
								{
																	
									var productinlistfavorite = favoriteProducts.FirstOrDefault(c => c.ProductID == item.Id);
									if (productinlistfavorite == null)
									{
										<a asp-controller="FavoriteProducts" asp-action="Creating" asp-route-id="@item.Id"><span class="icon icon-heart-o"></span></a>
									}	else
									{
										<a asp-controller="FavoriteProducts" asp-action="Delete" asp-route-id="@item.Id"><span class="heart">&#10084;</span></a>
									}

								}
								else
								{
									
								}
								@if (User.IsInRole("Admin"))
								{
										
								}
								else
								{

								}
								<h3><a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h3>
								<p class="mb-0">@item.Description</p>
								<p class="text-primary font-weight-bold">$@item.Price</p>
								
							</div>
						</div>
					</div>
				}
			</div>
		</div>

	</div>
</div>