@using App_Shared.Model
@model IEnumerable<App_Shared.ViewModels.ProductView>

@{
	ViewData["Title"] = "Index";

	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
	List<string>
			imageExtensions = new List<string>
				()
					   {
		".png", ".jpg", ".jpeg", ".gif", ".tiff", ".pdf"
					   };
}

<h3 style="margin-top:50px">Danh sách sản phẩm</h3>	
<p>
	<a asp-action="Create">Tạo mới sản phẩm</a>
</p>
<div class="container">
	<div class="row">
	
		<div class="col-12">
		<table class="table">
	<thead>
		<tr>
			<th>
			</th>
			<th>
				Tên sản phẩm
			</th>

			<th>
				Giá
			</th>
			<th>
				Số lượng
			</th>

			<th>
				Nhà sản xuất
			</th>
			<th>
				Trạng thái
			</th>

			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@{
						string extension = System.IO.Path.GetExtension(item.ImageUrl);
					}
					@if (imageExtensions.Contains(extension.Trim()))
					{
						<img src="~/images/@item.ImageUrl"style="width:100px; height:100px">
					}
					else
					{
						<img src="~/images/logo.png" height="200px">
					}
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AvailableQuantity)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.Manufacturer)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Status)
				</td>
				<td>
					@Html.ActionLink("Sửa", "Edit","Product", new {  id=item.Id }) |
					@Html.ActionLink("Details", "Details","Product", new {  id=item.Id }) |
					@Html.ActionLink("Xóa","DeleteProduct","Product", new { id=item.Id})
				</td>
			</tr>
		}
	</tbody>
</table>

		</div>
	</div>
</div>