@model IEnumerable<App_Shared.Model.Bill>
@using App_Shared.Model

@{
    ViewData["Title"] = "Index";
    var voucher = (ViewData["voucher"] as List<Voucher>);
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h3>Danh sách hóa đơn</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Giá
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Trạng thái thanh toán
            </th>
            <th>
                Trạng Thái
            </th>
            <th>
                Mã Voucher
            </th>
            <th>
                Địa Chỉ
            </th>
            <th>
                Tên người dùng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillStatus.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voucher.VoucherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
